{
  "openapi": "3.0.3",
  "info": {
    "title": "API Inter Empresas (Banco Inter)",
    "version": "1.0.0",
    "description": "Especificacao unificada gerada a partir das paginas de referencia do Portal do desenvolvedor Inter Empresas (developers.inter.co): Autenticacao OAuth, Cobranca (Boleto com Pix), Banking, Pix, Pix Automatico e Forum."
  },
  "servers": [
    {
      "url": "https://cdpj.partners.bancointer.com.br",
      "description": "Produção"
    },
    {
      "url": "https://cdpj-sandbox.partners.uatinter.co",
      "description": "Sandbox"
    }
  ],
  "tags": [
    {
      "name": "Token"
    },
    {
      "name": "Cobrança"
    },
    {
      "name": "Webhook (Cobrança)"
    },
    {
      "name": "Extrato"
    },
    {
      "name": "Saldo"
    },
    {
      "name": "Pagamento"
    },
    {
      "name": "Pix Pagamento"
    },
    {
      "name": "Webhook (Banking)"
    },
    {
      "name": "Cobrança Imediata"
    },
    {
      "name": "Cobrança com Vencimento"
    },
    {
      "name": "Cobrança com Vencimento em Lote"
    },
    {
      "name": "Location"
    },
    {
      "name": "Pix"
    },
    {
      "name": "Webhook de Pix Cobrança"
    },
    {
      "name": "Recorrência",
      "description": "Essa seção apresenta os endpoints relacionados ao gerenciamento de recorrências do Pix Automático.\n\nPara que as cobranças sejam geradas automaticamente para os clientes pagadores, devemos criar uma recorrência que\no cliente pagador deverá autorizar.\n\n---\n"
    },
    {
      "name": "Solicitar Recorrência",
      "description": "Esta seção apresenta os endpoints relacionados ao gerenciamento de solicitações de confirmação de recorrência,\nque equivalem às autorizações necessárias.\n\nPara que as recorrências tenham validade e possam gerar cobranças automaticamente, o cliente pagador precisa\nrealizar o aceite.\n\nPor meio dessa autorização, o cliente confirma que concorda com a recorrência estabelecida.\n\n---\n"
    },
    {
      "name": "Cobrança Recorrente",
      "description": "Esta seção apresenta os endpoints relacionados ao gerenciamento de cobranças associadas a uma recorrência.\n\nAs cobranças só poderão ser geradas utilizando este endpoint após a recorrência ser autorizada por meio da\nsolicitação de recorrência (autorização).\n\n---\n"
    },
    {
      "name": "Location da Recorrência",
      "description": "Esta seção apresenta os endpoints relacionados ao gerenciamento de payloads associadas a uma recorrência.\n\n---\n"
    },
    {
      "name": "Webhook de Recorrências",
      "description": "Esta seção apresenta os endpoints relacionados ao gerenciamento do serviço de notificações acerca de recorrências.\n\n---\n"
    },
    {
      "name": "Webhook de Cobranças Recorrentes",
      "description": "Esta seção apresenta os endpoints relacionados ao gerenciamento do serviço de notificações de cobranças recorrentes.\n\n---\n"
    },
    {
      "name": "Publicação"
    },
    {
      "name": "Upload de mídia"
    }
  ],
  "x-tagGroups": [
    {
      "name": "Autenticação",
      "tags": [
        "Token"
      ]
    },
    {
      "name": "API Cobrança",
      "tags": [
        "Cobrança",
        "Webhook (Cobrança)"
      ]
    },
    {
      "name": "API Banking",
      "tags": [
        "Extrato",
        "Saldo",
        "Pagamento",
        "Pix Pagamento",
        "Webhook (Banking)"
      ]
    },
    {
      "name": "API Pix",
      "tags": [
        "Cobrança Imediata",
        "Cobrança com Vencimento",
        "Cobrança com Vencimento em Lote",
        "Location",
        "Pix",
        "Webhook de Pix Cobrança"
      ]
    },
    {
      "name": "API Pix Automático",
      "tags": [
        "Recorrência",
        "Solicitar Recorrência",
        "Cobrança Recorrente",
        "Location da Recorrência",
        "Webhook de Recorrências",
        "Webhook de Cobranças Recorrentes"
      ]
    },
    {
      "name": "API Fórum",
      "tags": [
        "Publicação",
        "Upload de mídia"
      ]
    }
  ],
  "paths": {
    "/oauth/v2/token": {
      "post": {
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/TokenRequest"
              }
            }
          }
        },
        "tags": [
          "Token"
        ],
        "summary": "Obter token oAuth",
        "description": "A autenticação OAuth é a mais recente forma de autenticar os novos serviços disponibilizados pelo Inter. O Token gerado será necessário para consumir as APIs do Inter.\n\n* O tempo de vida de um token gerado é de uma hora. Com isso, é possível realizar um número determinado de requisições nas apis, de acordo com o rate limit de cada api, utilizando um único token.\n* rate limit: <br />\n    * <img src=\"https://img.shields.io/badge/PRODUÇÃO-FF7043\"/> 5 chamadas por minuto <br />\n    * <img src=\"https://img.shields.io/badge/SANDBOX-07605B\"/> 5 chamadas por minuto\n\n<div class=\"button-div\"> \n  <button class=\"button-yaml\" data-category=\"CODE_EXAMPLE\" data-value=\"obterTokenOauth\">\n    <img src=\"/img/icons/recipes.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" />\n    Exemplos de código\n  </button>\n</div>\n\n<div class=\"swagger-link-container\">\n  <div class=\"url-container\">\n    <img src=\"https://img.shields.io/badge/PRODUÇÃO-FF7043\"/>\n    <img src=\"https://img.shields.io/badge/POST-blue\"/>\n    <span class=\"span-container\">\n      <span class=\"server\">https://cdpj.partners.bancointer.com.br/oauth/v2<span class=\"url\">/token</span></span>\n    </span>\n  </div>\n  <img src=\"/img/icons/copy.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" class=\"copy-icon\" />\n</div>\n\n<div class=\"swagger-link-container\">\n  <div class=\"url-container\">\n    <img src=\"https://img.shields.io/badge/SANDBOX-07605B\"/>\n    <img src=\"https://img.shields.io/badge/POST-blue\"/>\n    <span class=\"span-container\">\n      <span class=\"server\">https://cdpj-sandbox.partners.uatinter.co/oauth/v2<span class=\"url\">/token</span></span>\n    </span>\n  </div>\n  <img src=\"/img/icons/copy.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" class=\"copy-icon\" />\n</div>\n",
        "operationId": "Token",
        "responses": {
          "200": {
            "$ref": "#/components/responses/TokenResponse"
          },
          "400": {
            "$ref": "#/components/responses/FormatoInvalido"
          },
          "403": {
            "$ref": "#/components/responses/AcessoNegado"
          },
          "404": {
            "$ref": "#/components/responses/NaoEncontrado"
          },
          "503": {
            "$ref": "#/components/responses/ServicoIndisponivel"
          }
        },
        "security": []
      }
    },
    "/cobranca/v3/cobrancas": {
      "get": {
        "tags": [
          "Cobrança"
        ],
        "summary": "Recuperar coleção de cobranças",
        "description": "Recuperar coleção de cobranças\n\n* Escopo requerido: boleto-cobranca.read\n* rate limit: <br />\n    * <img src=\"https://img.shields.io/badge/PRODUÇÃO-FF7043\"/> 120 chamadas por minuto <br />\n    * <img src=\"https://img.shields.io/badge/SANDBOX-07605B\"/> 10 chamadas por minuto\n\n*Obs: O [ token ](https://developers.inter.co/references/token#tag/Token/operation/Token) tem validade de 60 minutos e deverá ser reutilizado nas requisições.*\n\n<div class=\"button-div\"> \n  <button class=\"button-yaml\" data-category=\"CODE_EXAMPLE\" data-value=\"consultarListaCobrancas\">\n    <img src=\"/img/icons/recipes.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" />\n    Exemplos de código\n  </button>\n</div>\n\n<div class=\"swagger-link-container\">\n  <div class=\"url-container\">\n    <img src=\"https://img.shields.io/badge/PRODUÇÃO-FF7043\"/>\n    <img src=\"https://img.shields.io/badge/GET-green\"/>\n    <span class=\"span-container\">\n      <span class=\"server\">https://cdpj.partners.bancointer.com.br/cobranca/v3<span class=\"url\">/cobrancas</span></span>\n    </span>\n  </div>\n  <img src=\"/img/icons/copy.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" class=\"copy-icon\" />\n</div>\n\n<div class=\"swagger-link-container\">\n  <div class=\"url-container\">\n    <img src=\"https://img.shields.io/badge/SANDBOX-07605B\"/>\n    <img src=\"https://img.shields.io/badge/GET-green\"/>\n    <span class=\"span-container\">\n      <span class=\"server\">https://cdpj-sandbox.partners.uatinter.co/cobranca/v3<span class=\"url\">/cobrancas</span></span>\n    </span>\n  </div>\n  <img src=\"/img/icons/copy.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" class=\"copy-icon\" />\n</div>\n",
        "operationId": "pesquisaCobranca",
        "parameters": [
          {
            "$ref": "#/components/parameters/xContaCorrente"
          },
          {
            "$ref": "#/components/parameters/dataInicial"
          },
          {
            "$ref": "#/components/parameters/dataFinal"
          },
          {
            "$ref": "#/components/parameters/filtrarDataPor"
          },
          {
            "$ref": "#/components/parameters/situacao"
          },
          {
            "$ref": "#/components/parameters/pessoaPagadora"
          },
          {
            "$ref": "#/components/parameters/cpfCnpjPessoaPagadora"
          },
          {
            "$ref": "#/components/parameters/seuNumero"
          },
          {
            "$ref": "#/components/parameters/tipoCobranca"
          },
          {
            "$ref": "#/components/parameters/itensPorPagina"
          },
          {
            "$ref": "#/components/parameters/paginaAtual"
          },
          {
            "$ref": "#/components/parameters/ordenarPor"
          },
          {
            "$ref": "#/components/parameters/tipoOrdenacao"
          }
        ],
        "responses": {
          "200": {
            "description": "Solicitação realizada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CobrancasResponse"
                },
                "examples": {
                  "exemplo1": {
                    "$ref": "#/components/examples/exemploRetornoListaCobrancas"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/RequisicaoInvalida"
          },
          "403": {
            "$ref": "#/components/responses/Cobranca_AcessoNegado"
          },
          "404": {
            "$ref": "#/components/responses/Cobranca_NaoEncontrado"
          },
          "500": {
            "$ref": "#/components/responses/Cobranca_ServicoIndisponivel"
          }
        },
        "security": [
          {
            "oauth2": [
              "boleto-cobranca.read"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Cobrança"
        ],
        "description": "Método utilizado para emitir uma cobrança com código de barras e QRCode\nde forma assíncrona.\n\nApós a emissão, será disparado um callback com os dados da cobrança\ngerada para seu webhook cadastrado.\nVocê também poderá buscar atualizações da cobrança de forma ativa\nutilizando o Código identificador(codigoSolicitacao) único retornado na\nchamada de inclusão.\n\nSua chave Pix será automaticamente selecionada para emissão do QR Code\nno boleto de cobrança. Caso nenhuma chave seja encontrada, o boleto\nserá emitido sem o QR Code. Cadastre uma chave Pix via aplicativo ou\nInternet Banking para aproveitar todos os benefícios do produto.\n\n<div style=\"color: red\"><b>Atenção:</b></div>\n\n**Horário limite para vencimento no dia corrente:**<br>\nCobranças com vencimento para o mesmo dia só podem ser emitidas até às\n19h59.\n\n**Controle de duplicidade:**<br>\nPara evitar emissão de cobranças em duplicidade, utilizamos os campos\nseuNumero, valorNominal, dataVencimento e cpfCnpj do pagador para\nmontar uma chave de idempotência, com duração de 30min. Portanto, não\nserá possível emitir mais de uma cobrança com todos estes campos\nidênticos em um intervalo de 30 minutos entre as chamadas.\n\n* Escopo requerido: boleto-cobranca.write\n* rate limit: <br />\n    * <img src=\"https://img.shields.io/badge/PRODUÇÃO-FF7043\"/> 120 chamadas por minuto <br />\n    * <img src=\"https://img.shields.io/badge/SANDBOX-07605B\"/> 10 chamadas por minuto\n\n*Obs: O [ token ](https://developers.inter.co/references/token#tag/Token/operation/Token) tem validade de 60 minutos e deverá ser reutilizado nas requisições.*\n\n<div class=\"button-div\"> \n  <button class=\"button-yaml\" data-category=\"CODE_EXAMPLE\" data-value=\"emitirCobranca\">\n    <img src=\"/img/icons/recipes.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" />\n    Exemplos de código\n  </button>\n</div>\n\n<div class=\"swagger-link-container\">\n  <div class=\"url-container\">\n    <img src=\"https://img.shields.io/badge/PRODUÇÃO-FF7043\"/>\n    <img src=\"https://img.shields.io/badge/POST-blue\"/>\n    <span class=\"span-container\">\n      <span class=\"server\">https://cdpj.partners.bancointer.com.br/cobranca/v3<span class=\"url\">/cobrancas</span></span>\n    </span>\n  </div>\n  <img src=\"/img/icons/copy.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" class=\"copy-icon\" />\n</div>\n\n<div class=\"swagger-link-container\">\n  <div class=\"url-container\">\n    <img src=\"https://img.shields.io/badge/SANDBOX-07605B\"/>\n    <img src=\"https://img.shields.io/badge/POST-blue\"/>\n    <span class=\"span-container\">\n      <span class=\"server\">https://cdpj-sandbox.partners.uatinter.co/cobranca/v3<span class=\"url\">/cobrancas</span></span>\n    </span>\n  </div>\n  <img src=\"/img/icons/copy.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" class=\"copy-icon\" />\n</div>\n",
        "summary": "Emitir cobrança",
        "operationId": "emitirCobrancaAsync",
        "parameters": [
          {
            "$ref": "#/components/parameters/xContaCorrente"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/EmitirCobrancaAsyncRequest"
        },
        "responses": {
          "200": {
            "description": "Retorno do inserir boleto",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmitirCobrancaAsyncResponse"
                },
                "examples": {
                  "exemplo1": {
                    "$ref": "#/components/examples/exemploRetornoEmitirCobranca"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/RequisicaoInvalida"
          },
          "403": {
            "$ref": "#/components/responses/Cobranca_AcessoNegado"
          },
          "500": {
            "$ref": "#/components/responses/ErroInterno"
          },
          "503": {
            "$ref": "#/components/responses/Cobranca_ServicoIndisponivel"
          }
        },
        "security": [
          {
            "oauth2": [
              "boleto-cobranca.write"
            ]
          }
        ]
      }
    },
    "/cobranca/v3/cobrancas/{codigoSolicitacao}": {
      "get": {
        "tags": [
          "Cobrança"
        ],
        "description": "Retorna os dados da cobrança de acordo com codigoSolicitacao informado.\n\n* Escopo requerido: boleto-cobranca.read\n* rate limit: <br />\n    * <img src=\"https://img.shields.io/badge/PRODUÇÃO-FF7043\"/> 120 chamadas por minuto <br />\n    * <img src=\"https://img.shields.io/badge/SANDBOX-07605B\"/> 10 chamadas por minuto\n\n*Obs: O [ token ](https://developers.inter.co/references/token#tag/Token/operation/Token) tem validade de 60 minutos e deverá ser reutilizado nas requisições.*\n\n<div class=\"button-div\"> \n  <button class=\"button-yaml\" data-category=\"CODE_EXAMPLE\" data-value=\"obterDetalhesBoleto\">\n    <img src=\"/img/icons/recipes.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" />\n    Exemplos de código\n  </button>\n</div>\n\n<div class=\"swagger-link-container\">\n  <div class=\"url-container\">\n    <img src=\"https://img.shields.io/badge/PRODUÇÃO-FF7043\"/>\n    <img src=\"https://img.shields.io/badge/GET-green\"/>\n    <span class=\"span-container\">\n      <span class=\"server\">https://cdpj.partners.bancointer.com.br/cobranca/v3<span class=\"url\">/cobrancas/{codigoSolicitacao}</span></span>\n    </span>\n  </div>\n  <img src=\"/img/icons/copy.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" class=\"copy-icon\" />\n</div>\n\n<div class=\"swagger-link-container\">\n  <div class=\"url-container\">\n    <img src=\"https://img.shields.io/badge/SANDBOX-07605B\"/>\n    <img src=\"https://img.shields.io/badge/GET-green\"/>\n    <span class=\"span-container\">\n      <span class=\"server\">https://cdpj-sandbox.partners.uatinter.co/cobranca/v3<span class=\"url\">/cobrancas/{codigoSolicitacao}</span></span>\n    </span>\n  </div>\n  <img src=\"/img/icons/copy.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" class=\"copy-icon\" />\n</div>\n",
        "summary": "Recuperar cobrança",
        "operationId": "recuperarCobrancaDetalhada",
        "parameters": [
          {
            "$ref": "#/components/parameters/codigoSolicitacao"
          },
          {
            "$ref": "#/components/parameters/xContaCorrente"
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CobrancaDetalhadaResponseBody"
                },
                "examples": {
                  "example1": {
                    "$ref": "#/components/examples/exemploRetornoRecuperarCobranca"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/RequisicaoInvalida"
          },
          "403": {
            "$ref": "#/components/responses/Cobranca_AcessoNegado"
          },
          "404": {
            "$ref": "#/components/responses/Cobranca_NaoEncontrado"
          },
          "500": {
            "$ref": "#/components/responses/Cobranca_ServicoIndisponivel"
          }
        },
        "security": [
          {
            "oauth2": [
              "boleto-cobranca.read"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "Cobrança"
        ],
        "description": "Editar os dados da cobrança de acordo com codigoSolicitacao informado.\n\n* Escopo requerido: boleto-cobranca.write\n* rate limit: <br />\n    * <img src=\"https://img.shields.io/badge/PRODUÇÃO-FF7043\"/> 10 chamadas por minuto <br />\n    * <img src=\"https://img.shields.io/badge/SANDBOX-07605B\"/> 10 chamadas por minuto\n\n<div class=\"button-div\"> \n  <button class=\"button-yaml\" data-category=\"CODE_EXAMPLE\" data-value=\"editarCobranca\">\n    <img src=\"/img/icons/recipes.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" />\n    Exemplos de código\n  </button>\n</div>\n\n<div class=\"swagger-link-container\">\n  <div class=\"url-container\">\n    <img src=\"https://img.shields.io/badge/PRODUÇÃO-FF7043\"/>\n    <img src=\"https://img.shields.io/badge/PATCH-orange\"/>\n    <span class=\"span-container\">\n      <span class=\"server\">https://cdpj.partners.bancointer.com.br/cobranca/v3<span class=\"url\">/cobrancas/{codigoSolicitacao}</span></span>\n    </span>\n  </div>\n  <img src=\"/img/icons/copy.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" class=\"copy-icon\" />\n</div>\n\n<div class=\"swagger-link-container\">\n  <div class=\"url-container\">\n    <img src=\"https://img.shields.io/badge/SANDBOX-07605B\"/>\n    <img src=\"https://img.shields.io/badge/PATCH-orange\"/>\n    <span class=\"span-container\">\n      <span class=\"server\">https://cdpj-sandbox.partners.uatinter.co/cobranca/v3<span class=\"url\">/cobrancas/{codigoSolicitacao}</span></span>\n    </span>\n  </div>\n  <img src=\"/img/icons/copy.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" class=\"copy-icon\" />\n</div>\n\n* Observações: <br />\n    * O [ token ](https://developers.inter.co/references/token#tag/Token/operation/Token) tem validade de 60 minutos e deverá ser reutilizado nas requisições. <br />\n    * Após editar uma cobrança, seu valor pode levar até **30 minutos** para ser atualizado.\n",
        "summary": "Editar cobrança",
        "operationId": "editarCobranca",
        "parameters": [
          {
            "$ref": "#/components/parameters/codigoSolicitacao"
          },
          {
            "$ref": "#/components/parameters/xContaCorrente"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/UpdateCobrancaRequest"
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateCobrancaResponseBody"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/RequisicaoInvalida"
          },
          "403": {
            "$ref": "#/components/responses/Cobranca_AcessoNegado"
          },
          "404": {
            "$ref": "#/components/responses/Cobranca_NaoEncontrado"
          },
          "500": {
            "$ref": "#/components/responses/Cobranca_ServicoIndisponivel"
          }
        },
        "security": [
          {
            "oauth2": [
              "boleto-cobranca.write"
            ]
          }
        ]
      }
    },
    "/cobranca/v3/cobrancas/edicao/{codigoEdicao}": {
      "get": {
        "tags": [
          "Cobrança"
        ],
        "description": "Consultar edição da cobrança de acordo com codigoEdicao informado.\n\n* Escopo requerido: boleto-cobranca.read\n* rate limit: <br />\n    * <img src=\"https://img.shields.io/badge/PRODUÇÃO-FF7043\"/> 10 chamadas por minuto <br />\n    * <img src=\"https://img.shields.io/badge/SANDBOX-07605B\"/> 10 chamadas por minuto\n\n<div class=\"button-div\"> \n  <button class=\"button-yaml\" data-category=\"CODE_EXAMPLE\" data-value=\"obterEdicaoCobranca\">\n    <img src=\"/img/icons/recipes.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" />\n    Exemplos de código\n  </button>\n</div>\n\n<div class=\"swagger-link-container\">\n  <div class=\"url-container\">\n    <img src=\"https://img.shields.io/badge/PRODUÇÃO-FF7043\"/>\n    <img src=\"https://img.shields.io/badge/GET-green\"/>\n    <span class=\"span-container\">\n      <span class=\"server\">https://cdpj.partners.bancointer.com.br/cobranca/v3<span class=\"url\">/cobrancas/edicao/{codigoEdicao}</span></span>\n    </span>\n  </div>\n  <img src=\"/img/icons/copy.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" class=\"copy-icon\" />\n</div>\n\n<div class=\"swagger-link-container\">\n  <div class=\"url-container\">\n    <img src=\"https://img.shields.io/badge/SANDBOX-07605B\"/>\n    <img src=\"https://img.shields.io/badge/GET-green\"/>\n    <span class=\"span-container\">\n      <span class=\"server\">https://cdpj-sandbox.partners.uatinter.co/cobranca/v3<span class=\"url\">/cobrancas/edicao/{codigoEdicao}</span></span>\n    </span>\n  </div>\n  <img src=\"/img/icons/copy.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" class=\"copy-icon\" />\n</div>\n\n* Observações: <br />\n    * O [ token ](https://developers.inter.co/references/token#tag/Token/operation/Token) tem validade de 60 minutos e deverá ser reutilizado nas requisições. <br />\n    * Após editar uma cobrança, seu valor pode levar até **30 minutos** para ser atualizado.\n",
        "summary": "Consultar status da edição da cobrança",
        "operationId": "consultarAtualizacaoCobranca",
        "parameters": [
          {
            "$ref": "#/components/parameters/codigoEdicao"
          },
          {
            "$ref": "#/components/parameters/xContaCorrente"
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetStatusUpdateResponseBody"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/RequisicaoInvalida"
          },
          "403": {
            "$ref": "#/components/responses/Cobranca_AcessoNegado"
          },
          "404": {
            "$ref": "#/components/responses/Cobranca_NaoEncontrado"
          },
          "500": {
            "$ref": "#/components/responses/Cobranca_ServicoIndisponivel"
          }
        },
        "security": [
          {
            "oauth2": [
              "boleto-cobranca.read"
            ]
          }
        ]
      }
    },
    "/cobranca/v3/cobrancas/{codigoSolicitacao}/pdf": {
      "get": {
        "tags": [
          "Cobrança"
        ],
        "description": "Recupera uma cobrança com código de barras e QRCode em PDF.\n\n* Escopo requerido: boleto-cobranca.read\n* rate limit: <br />\n    * <img src=\"https://img.shields.io/badge/PRODUÇÃO-FF7043\"/> 120 chamadas por minuto <br />\n    * <img src=\"https://img.shields.io/badge/SANDBOX-07605B\"/> 10 chamadas por minuto\n\n*Obs: O [ token ](https://developers.inter.co/references/token#tag/Token/operation/Token) tem validade de 60 minutos e deverá ser reutilizado nas requisições.*\n\n<div class=\"button-div\"> \n  <button class=\"button-yaml\" data-category=\"CODE_EXAMPLE\" data-value=\"obterPdfCobranca\">\n    <img src=\"/img/icons/recipes.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" />\n    Exemplos de código\n  </button>\n</div>\n\n<div class=\"swagger-link-container\">\n  <div class=\"url-container\">\n    <img src=\"https://img.shields.io/badge/PRODUÇÃO-FF7043\"/>\n    <img src=\"https://img.shields.io/badge/GET-green\"/>\n    <span class=\"span-container\">\n      <span class=\"server\">https://cdpj.partners.bancointer.com.br/cobranca/v3<span class=\"url\">/cobrancas/{codigoSolicitacao}/pdf</span></span>\n    </span>\n  </div>\n  <img src=\"/img/icons/copy.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" class=\"copy-icon\" />\n</div>\n\n<div class=\"swagger-link-container\">\n  <div class=\"url-container\">\n    <img src=\"https://img.shields.io/badge/SANDBOX-07605B\"/>\n    <img src=\"https://img.shields.io/badge/GET-green\"/>\n    <span class=\"span-container\">\n      <span class=\"server\">https://cdpj-sandbox.partners.uatinter.co/cobranca/v3<span class=\"url\">/cobrancas/{codigoSolicitacao}/pdf</span></span>\n    </span>\n  </div>\n  <img src=\"/img/icons/copy.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" class=\"copy-icon\" />\n</div>\n",
        "summary": "Recuperar cobrança em PDF",
        "operationId": "obterPdfCobranca",
        "parameters": [
          {
            "$ref": "#/components/parameters/codigoSolicitacao"
          },
          {
            "$ref": "#/components/parameters/xContaCorrente"
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PdfResponse"
                },
                "examples": {
                  "exemplo1": {
                    "$ref": "#/components/examples/exemploResponsePdf"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/RequisicaoInvalida"
          },
          "403": {
            "$ref": "#/components/responses/Cobranca_AcessoNegado"
          },
          "404": {
            "$ref": "#/components/responses/Cobranca_NaoEncontrado"
          },
          "500": {
            "$ref": "#/components/responses/Cobranca_ServicoIndisponivel"
          }
        },
        "security": [
          {
            "oauth2": [
              "boleto-cobranca.read"
            ]
          }
        ]
      }
    },
    "/cobranca/v3/cobrancas/{codigoSolicitacao}/cancelar": {
      "post": {
        "tags": [
          "Cobrança"
        ],
        "description": "Cancelar cobrança com o codigoSolicitacao informado.\n\n* Escopo requerido: boleto-cobranca.write\n* rate limit: <br />\n    * <img src=\"https://img.shields.io/badge/PRODUÇÃO-FF7043\"/> 120 chamadas por minuto <br />\n    * <img src=\"https://img.shields.io/badge/SANDBOX-07605B\"/> 10 chamadas por minuto\n\n*Obs: O [ token ](https://developers.inter.co/references/token#tag/Token/operation/Token) tem validade de 60 minutos e deverá ser reutilizado nas requisições.*\n\n<div class=\"button-div\"> \n  <button class=\"button-yaml\" data-category=\"CODE_EXAMPLE\" data-value=\"cancelarCobranca\">\n    <img src=\"/img/icons/recipes.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" />\n    Exemplos de código\n  </button>\n</div>\n\n<div class=\"swagger-link-container\">\n  <div class=\"url-container\">\n    <img src=\"https://img.shields.io/badge/PRODUÇÃO-FF7043\"/>\n    <img src=\"https://img.shields.io/badge/POST-blue\"/>\n    <span class=\"span-container\">\n      <span class=\"server\">https://cdpj.partners.bancointer.com.br/cobranca/v3<span class=\"url\">/cobrancas/{codigoSolicitacao}/cancelar</span></span>\n    </span>\n  </div>\n  <img src=\"/img/icons/copy.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" class=\"copy-icon\" />\n</div>\n\n<div class=\"swagger-link-container\">\n  <div class=\"url-container\">\n    <img src=\"https://img.shields.io/badge/SANDBOX-07605B\"/>\n    <img src=\"https://img.shields.io/badge/POST-blue\"/>\n    <span class=\"span-container\">\n      <span class=\"server\">https://cdpj-sandbox.partners.uatinter.co/cobranca/v3<span class=\"url\">/cobrancas/{codigoSolicitacao}/cancelar</span></span>\n    </span>\n  </div>\n  <img src=\"/img/icons/copy.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" class=\"copy-icon\" />\n</div>\n",
        "summary": "Cancelar cobrança",
        "operationId": "cancelarCobranca",
        "parameters": [
          {
            "$ref": "#/components/parameters/codigoSolicitacao"
          },
          {
            "$ref": "#/components/parameters/xContaCorrente"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/CancelarCobrancaRequest"
        },
        "responses": {
          "202": {
            "description": "Sucesso",
            "content": {}
          },
          "400": {
            "$ref": "#/components/responses/RequisicaoInvalida"
          },
          "403": {
            "$ref": "#/components/responses/Cobranca_AcessoNegado"
          },
          "404": {
            "$ref": "#/components/responses/Cobranca_NaoEncontrado"
          },
          "500": {
            "$ref": "#/components/responses/Cobranca_ServicoIndisponivel"
          }
        },
        "security": [
          {
            "oauth2": [
              "boleto-cobranca.write"
            ]
          }
        ]
      }
    },
    "/cobranca/v3/cobrancas/sumario": {
      "get": {
        "tags": [
          "Cobrança"
        ],
        "description": "Utilizado para recuperar o sumário de uma coleção de Cobranças por um período\nespecífico, de acordo com os parâmetros informados.\n\n* Escopo requerido: boleto-cobranca.read\n* rate limit: <br />\n    * <img src=\"https://img.shields.io/badge/PRODUÇÃO-FF7043\"/> 120 chamadas por minuto <br />\n    * <img src=\"https://img.shields.io/badge/SANDBOX-07605B\"/> 10 chamadas por minuto\n\n*Obs: O [ token ](https://developers.inter.co/references/token#tag/Token/operation/Token) tem validade de 60 minutos e deverá ser reutilizado nas requisições.*\n\n<div class=\"button-div\">\n  <button class=\"button-yaml\" data-category=\"CODE_EXAMPLE\" data-value=\"obterSumarioCobrancas\">\n    <img src=\"/img/icons/recipes.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" />\n    Exemplos de código\n  </button>\n</div>\n\n<div class=\"swagger-link-container\">\n  <div class=\"url-container\">\n    <img src=\"https://img.shields.io/badge/PRODUÇÃO-FF7043\"/>\n    <img src=\"https://img.shields.io/badge/GET-green\"/>\n    <span class=\"span-container\">\n      <span class=\"server\">https://cdpj.partners.bancointer.com.br/cobranca/v3<span class=\"url\">/cobrancas/sumario</span></span>\n    </span>\n  </div>\n  <img src=\"/img/icons/copy.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" class=\"copy-icon\" />\n</div>\n\n<div class=\"swagger-link-container\">\n  <div class=\"url-container\">\n    <img src=\"https://img.shields.io/badge/SANDBOX-07605B\"/>\n    <img src=\"https://img.shields.io/badge/GET-green\"/>\n    <span class=\"span-container\">\n      <span class=\"server\">https://cdpj-sandbox.partners.uatinter.co/cobranca/v3<span class=\"url\">/cobrancas/sumario</span></span>\n    </span>\n  </div>\n  <img src=\"/img/icons/copy.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" class=\"copy-icon\" />\n</div>\n",
        "summary": "Recuperar sumário de cobranças",
        "operationId": "consultarSumario",
        "parameters": [
          {
            "$ref": "#/components/parameters/xContaCorrente"
          },
          {
            "$ref": "#/components/parameters/dataInicial"
          },
          {
            "$ref": "#/components/parameters/dataFinal"
          },
          {
            "$ref": "#/components/parameters/filtrarDataPor"
          },
          {
            "$ref": "#/components/parameters/situacao"
          },
          {
            "$ref": "#/components/parameters/tipoCobranca"
          },
          {
            "$ref": "#/components/parameters/seuNumero"
          },
          {
            "$ref": "#/components/parameters/pessoaPagadora"
          },
          {
            "$ref": "#/components/parameters/cpfCnpjPessoaPagadora"
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/itemSumarioCobrancas"
                  }
                },
                "examples": {
                  "exemploe1": {
                    "$ref": "#/components/examples/exemploRetornoSumario"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/RequisicaoInvalida"
          },
          "403": {
            "$ref": "#/components/responses/Cobranca_AcessoNegado"
          },
          "404": {
            "$ref": "#/components/responses/Cobranca_NaoEncontrado"
          },
          "500": {
            "$ref": "#/components/responses/Cobranca_ServicoIndisponivel"
          }
        },
        "security": [
          {
            "oauth2": [
              "boleto-cobranca.read"
            ]
          }
        ]
      }
    },
    "/cobranca/v3/cobrancas/{codigoSolicitacao}/pagar": {
      "post": {
        "tags": [
          "Cobrança"
        ],
        "description": "Pagamento de uma cobrança com código de barras ou QRCode(**Exclusivo para o ambiente Sandbox**).\n\nApós o pagamento, será disparado um callback com os dados da cobrança atualizados para seu webhook cadastrado.\n\n* Escopo requerido: boleto-cobranca.write\n* rate limit: <br />\n    * <img src=\"https://img.shields.io/badge/SANDBOX-07605B\"/> 10 chamadas por minuto\n\n*Obs: O [ token ](https://developers.inter.co/references/token#tag/Token/operation/Token) tem validade de 60 minutos e deverá ser reutilizado nas requisições.*\n\n<div class=\"button-div\">\n  <button class=\"button-yaml\" data-category=\"CODE_EXAMPLE\" data-value=\"pagamentoCobrancaSandbox\">\n    <img src=\"/img/icons/recipes.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" />\n    Exemplos de código\n  </button>\n</div>\n<div class=\"swagger-link-container\">\n  <div class=\"url-container\">\n    <img src=\"https://img.shields.io/badge/SANDBOX-07605B\"/>\n    <img src=\"https://img.shields.io/badge/POST-blue\"/>\n    <span class=\"span-container\">\n      <span class=\"server\">https://cdpj-sandbox.partners.uatinter.co/cobranca/v3<span class=\"url\">/cobrancas/{codigoSolicitacao}/pagar</span></span>\n    </span>\n  </div>\n  <img src=\"/img/icons/copy.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" class=\"copy-icon\" />\n</div>\n",
        "summary": "Pagar cobrança (Sandbox)",
        "operationId": "pagarCobranca",
        "servers": [
          {
            "url": "https://cdpj-sandbox.partners.uatinter.co/cobranca/v3",
            "description": "Servidor de Sandbox"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/codigoSolicitacao"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/PagarCobrancaRequest"
        },
        "responses": {
          "204": {
            "description": "Sucesso no Pagamento",
            "content": {}
          },
          "400": {
            "$ref": "#/components/responses/RequisicaoInvalida"
          },
          "403": {
            "$ref": "#/components/responses/Cobranca_AcessoNegado"
          },
          "500": {
            "$ref": "#/components/responses/ErroInterno"
          },
          "503": {
            "$ref": "#/components/responses/Cobranca_ServicoIndisponivel"
          }
        },
        "security": [
          {
            "oauth2": [
              "boleto-cobranca.write"
            ]
          }
        ]
      }
    },
    "/cobranca/v3/cobrancas/webhook": {
      "put": {
        "tags": [
          "Webhook (Cobrança)"
        ],
        "description": "Método destinado a criar um webhook para receber notificações (callbacks) de cobranças pagas, canceladas e expiradas.\n\nCaso o servidor de webhook retorne erro de recebimento do callback, serão realizadas até 4 tentativas com intervalos de 20, 30, 60 e 120 minutos.\n\n* Escopo requerido: boleto-cobranca.write\n* rate limit: <br />\n    * <img src=\"https://img.shields.io/badge/PRODUÇÃO-FF7043\"/> 5 chamadas por minuto <br />\n    * <img src=\"https://img.shields.io/badge/SANDBOX-07605B\"/> 5 chamadas por minuto\n\n*Obs: O [ token ](https://developers.inter.co/references/token#tag/Token/operation/Token) tem validade de 60 minutos e deverá ser reutilizado nas requisições.*\n\n<div class=\"button-div\"> \n  <button class=\"button-yaml\" data-category=\"CODE_EXAMPLE\" data-value=\"criarWebhookCobranca\">\n    <img src=\"/img/icons/recipes.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" />\n    Exemplos de código\n  </button>\n  <button class=\"button-yaml\" data-category=\"VALIDATE_WEBHOOK\" data-value='cobranca'>\n    <img src=\"/img/icons/webhook.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" />\n    Validar webhook\n  </button>\n</div>\n\n<div class=\"swagger-link-container\">\n  <div class=\"url-container\">\n    <img src=\"https://img.shields.io/badge/PRODUÇÃO-FF7043\"/>\n    <img src=\"https://img.shields.io/badge/PUT-purple\"/>\n    <span class=\"span-container\">\n      <span class=\"server\">https://cdpj.partners.bancointer.com.br/cobranca/v3<span class=\"url\">/cobrancas/webhook</span></span>\n    </span>\n  </div>\n  <img src=\"/img/icons/copy.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" class=\"copy-icon\" />\n</div>\n\n<div class=\"swagger-link-container\">\n  <div class=\"url-container\">\n    <img src=\"https://img.shields.io/badge/SANDBOX-07605B\"/>\n    <img src=\"https://img.shields.io/badge/PUT-purple\"/>\n    <span class=\"span-container\">\n      <span class=\"server\">https://cdpj-sandbox.partners.uatinter.co/cobranca/v3<span class=\"url\">/cobrancas/webhook</span></span>\n    </span>\n  </div>\n  <img src=\"/img/icons/copy.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" class=\"copy-icon\" />\n</div>\n",
        "summary": "Criar ou editar um webhook",
        "operationId": "webhookPut",
        "requestBody": {
          "$ref": "#/components/requestBodies/WebhookConfigBody"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/xContaCorrente"
          }
        ],
        "responses": {
          "204": {
            "description": "Sucesso",
            "content": {}
          },
          "500": {
            "$ref": "#/components/responses/Cobranca_ServicoIndisponivel"
          }
        },
        "callbacks": {
          "listaCobrancas": {
            "{$request.body#/webhookUrl}": {
              "post": {
                "parameters": [
                  {
                    "in": "header",
                    "name": "x-conta-corrente",
                    "schema": {
                      "type": "string",
                      "pattern": "^[1-9][0-9]*$",
                      "example": "13525622"
                    },
                    "description": "Conta corrente relacionada ao callback. Enviar apenas números(incluindo o dígito), e não enviar zeros a esquerda."
                  }
                ],
                "requestBody": {
                  "$ref": "#/components/requestBodies/WebhookCobrancaCallbackBody"
                },
                "responses": {
                  "200": {
                    "description": "Notificação recebida com sucesso"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "boleto-cobranca.write"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "Webhook (Cobrança)"
        ],
        "description": "Obtém o webhook cadastrado, caso exista.\n\n* Escopo requerido: boleto-cobranca.read\n* rate limit: <br />\n    * <img src=\"https://img.shields.io/badge/PRODUÇÃO-FF7043\"/> 5 chamadas por minuto <br />\n    * <img src=\"https://img.shields.io/badge/SANDBOX-07605B\"/> 5 chamadas por minuto\n\n*Obs: O [ token ](https://developers.inter.co/references/token#tag/Token/operation/Token) tem validade de 60 minutos e deverá ser reutilizado nas requisições.*\n\n<div class=\"button-div\"> \n  <button class=\"button-yaml\" data-category=\"CODE_EXAMPLE\" data-value=\"obterWebhookCobranca\">\n    <img src=\"/img/icons/recipes.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" />\n    Exemplos de código\n  </button>\n</div>\n\n<div class=\"swagger-link-container\">\n  <div class=\"url-container\">\n    <img src=\"https://img.shields.io/badge/PRODUÇÃO-FF7043\"/>\n    <img src=\"https://img.shields.io/badge/GET-green\"/>\n    <span class=\"span-container\">\n      <span class=\"server\">https://cdpj.partners.bancointer.com.br/cobranca/v3<span class=\"url\">/cobrancas/webhook</span></span>\n    </span>\n  </div>\n  <img src=\"/img/icons/copy.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" class=\"copy-icon\" />\n</div>\n\n<div class=\"swagger-link-container\">\n  <div class=\"url-container\">\n    <img src=\"https://img.shields.io/badge/SANDBOX-07605B\"/>\n    <img src=\"https://img.shields.io/badge/GET-green\"/>\n    <span class=\"span-container\">\n      <span class=\"server\">https://cdpj-sandbox.partners.uatinter.co/cobranca/v3<span class=\"url\">/cobrancas/webhook</span></span>\n    </span>\n  </div>\n  <img src=\"/img/icons/copy.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" class=\"copy-icon\" />\n</div>\n",
        "summary": "Obter webhook cadastrado",
        "operationId": "webhookGet",
        "parameters": [
          {
            "$ref": "#/components/parameters/xContaCorrente"
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookCompleto"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Cobranca_NaoEncontrado"
          },
          "500": {
            "$ref": "#/components/responses/Cobranca_ServicoIndisponivel"
          }
        },
        "security": [
          {
            "oauth2": [
              "boleto-cobranca.read"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Webhook (Cobrança)"
        ],
        "description": "Exclui o webhook.\n\n* Escopo requerido: boleto-cobranca.write\n* rate limit: <br />\n    * <img src=\"https://img.shields.io/badge/PRODUÇÃO-FF7043\"/> 5 chamadas por minuto <br />\n    * <img src=\"https://img.shields.io/badge/SANDBOX-07605B\"/> 5 chamadas por minuto\n\n*Obs: O [ token ](https://developers.inter.co/references/token#tag/Token/operation/Token) tem validade de 60 minutos e deverá ser reutilizado nas requisições.*\n\n<div class=\"button-div\"> \n  <button class=\"button-yaml\" data-category=\"CODE_EXAMPLE\" data-value=\"excluirWebhookCobranca\">\n    <img src=\"/img/icons/recipes.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" />\n    Exemplos de código\n  </button>\n</div>\n\n<div class=\"swagger-link-container\">\n  <div class=\"url-container\">\n    <img src=\"https://img.shields.io/badge/PRODUÇÃO-FF7043\"/>\n    <img src=\"https://img.shields.io/badge/DELETE-red\"/>\n    <span class=\"span-container\">\n      <span class=\"server\">https://cdpj.partners.bancointer.com.br/cobranca/v3<span class=\"url\">/cobrancas/webhook</span></span>\n    </span>\n  </div>\n  <img src=\"/img/icons/copy.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" class=\"copy-icon\" />\n</div>\n\n<div class=\"swagger-link-container\">\n  <div class=\"url-container\">\n    <img src=\"https://img.shields.io/badge/SANDBOX-07605B\"/>\n    <img src=\"https://img.shields.io/badge/DELETE-red\"/>\n    <span class=\"span-container\">\n      <span class=\"server\">https://cdpj-sandbox.partners.uatinter.co/cobranca/v3<span class=\"url\">/cobrancas/webhook</span></span>\n    </span>\n  </div>\n  <img src=\"/img/icons/copy.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" class=\"copy-icon\" />\n</div>\n",
        "summary": "Excluir webhook",
        "operationId": "webhookDelete",
        "parameters": [
          {
            "$ref": "#/components/parameters/xContaCorrente"
          }
        ],
        "responses": {
          "204": {
            "description": "Sucesso",
            "content": {}
          },
          "404": {
            "$ref": "#/components/responses/Cobranca_NaoEncontrado"
          },
          "500": {
            "$ref": "#/components/responses/Cobranca_ServicoIndisponivel"
          }
        },
        "security": [
          {
            "oauth2": [
              "boleto-cobranca.write"
            ]
          }
        ]
      }
    },
    "/cobranca/v3/cobrancas/webhook/callbacks": {
      "get": {
        "tags": [
          "Webhook (Cobrança)"
        ],
        "summary": "Consulta de callbacks enviados",
        "description": "Retorna as requisições de callbacks ordenado pela data de disparo (decrescente)\n\n* Escopo requerido: boleto-cobranca.read\n* rate limit: <br />\n    * <img src=\"https://img.shields.io/badge/PRODUÇÃO-FF7043\"/> 10 chamadas por minuto <br />\n    * <img src=\"https://img.shields.io/badge/SANDBOX-07605B\"/> 10 chamadas por minuto\n\n*Obs: O [ token ](https://developers.inter.co/references/token#tag/Token/operation/Token) tem validade de 60 minutos e deverá ser reutilizado nas requisições.*\n\n<div class=\"button-div\"> \n  <button class=\"button-yaml\" data-category=\"CODE_EXAMPLE\" data-value=\"consultarCallbacksCobranca\">\n    <img src=\"/img/icons/recipes.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" />\n    Exemplos de código\n  </button>\n</div>\n\n<div class=\"swagger-link-container\">\n  <div class=\"url-container\">\n    <img src=\"https://img.shields.io/badge/PRODUÇÃO-FF7043\"/>\n    <img src=\"https://img.shields.io/badge/GET-green\"/>\n    <span class=\"span-container\">\n      <span class=\"server\">https://cdpj.partners.bancointer.com.br/cobranca/v3<span class=\"url\">/cobrancas/webhook/callbacks</span></span>\n    </span>\n  </div>\n  <img src=\"/img/icons/copy.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" class=\"copy-icon\" />\n</div>\n\n<div class=\"swagger-link-container\">\n  <div class=\"url-container\">\n    <img src=\"https://img.shields.io/badge/SANDBOX-07605B\"/>\n    <img src=\"https://img.shields.io/badge/GET-green\"/>\n    <span class=\"span-container\">\n      <span class=\"server\">https://cdpj-sandbox.partners.uatinter.co/cobranca/v3<span class=\"url\">/cobrancas/webhook/callbacks</span></span>\n    </span>\n  </div>\n  <img src=\"/img/icons/copy.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" class=\"copy-icon\" />\n</div>",
        "operationId": "callbacksFilter",
        "parameters": [
          {
            "$ref": "#/components/parameters/xContaCorrente"
          },
          {
            "name": "dataHoraInicio",
            "in": "query",
            "required": true,
            "description": "Formato aceito: yyyy-MM-dd'T'HH:mm[:ss][.SSS]XXX",
            "example": "2023-06-01T00:00Z ou 2023-06-01T00:00:00.000Z",
            "x-arch-date-time-pattern": "yyyy-MM-dd'T'HH:mm[:ss][.SSS]XXX",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": false
            }
          },
          {
            "name": "dataHoraFim",
            "description": "Formato aceito: yyyy-MM-dd'T'HH:mm[:ss][.SSS]XXX",
            "in": "query",
            "example": "2023-06-01T00:00Z ou 2023-06-01T00:00:00.000Z",
            "required": true,
            "x-arch-date-time-pattern": "yyyy-MM-dd'T'HH:mm[:ss][.SSS]XXX",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": false
            }
          },
          {
            "name": "pagina",
            "in": "query",
            "schema": {
              "type": "integer",
              "description": "Posição da página na lista de dados",
              "default": 0,
              "nullable": false
            }
          },
          {
            "name": "tamanhoPagina",
            "in": "query",
            "schema": {
              "type": "integer",
              "description": "Tamanho da página",
              "default": 20,
              "maximum": 50,
              "minimum": 10,
              "nullable": false
            }
          },
          {
            "name": "codigoSolicitacao",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "Codigo único da cobrança"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallbackAttemptPage"
                },
                "examples": {
                  "exemplo1": {
                    "$ref": "#/components/examples/exemploListaCallback"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/RequisicaoInvalida"
          },
          "500": {
            "$ref": "#/components/responses/Cobranca_ServicoIndisponivel"
          }
        },
        "security": [
          {
            "oauth2": [
              "boleto-cobranca.read"
            ]
          }
        ]
      }
    },
    "/cobranca/v3/webhook/callbacks/retry": {
      "post": {
        "tags": [
          "Webhook (Cobrança)"
        ],
        "summary": "Reenviar callbacks",
        "description": "Método utilizado para reenviar uma mensagem de callback de uma cobrança através de seu código identificador(codigoSolicitacao). \n\nA funcionalidade permite o envio de até 50 codigos identificadores, para o reenvio de seus respectivos callbacks.\n\n* Escopo requerido: boleto-cobranca.write\n* rate limit: <br />\n    * <img src=\"https://img.shields.io/badge/PRODUÇÃO-FF7043\"/> 5 chamadas por minuto   \n\n*Obs: O [ token ](https://developers.inter.co/references/token#tag/Token/operation/Token) tem validade de 60 minutos e deverá ser reutilizado nas requisições.*\n\n<div class=\"button-div\"> \n  <button class=\"button-yaml\" data-category=\"CODE_EXAMPLE\" data-value=\"reenviarCallbackBillingRecipe\">\n    <img src=\"/img/icons/recipes.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" />\n    Exemplos de código\n  </button>\n</div>  \n\n<div class=\"swagger-link-container\">\n  <div class=\"url-container\">\n    <img src=\"https://img.shields.io/badge/PRODUÇÃO-FF7043\"/>\n    <img src=\"https://img.shields.io/badge/POST-blue\"/>\n    <span class=\"span-container\">\n      <span class=\"server\">https://cdpj.partners.bancointer.com.br/cobranca/v3<span class=\"url\">/cobrancas/webhook/callbacks/retry</span></span>\n    </span>\n  </div>\n  <img src=\"/img/icons/copy.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" class=\"copy-icon\" />\n</div>",
        "operationId": "retryCallback",
        "servers": [
          {
            "url": "https://cdpj.partners.bancointer.com.br/cobranca/v3",
            "description": "Servidor de Produção"
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/xContaCorrente"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/RetryCallbacksRequest"
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "aplication/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetryCallbackResponse"
                },
                "examples": {
                  "exemplo1": {
                    "$ref": "#/components/examples/exemploRetryCallbackResponse"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/RequisicaoInvalidaRetryCallback"
          },
          "403": {
            "$ref": "#/components/responses/Cobranca_AcessoNegado"
          },
          "404": {
            "$ref": "#/components/responses/Cobranca_NaoEncontrado"
          },
          "500": {
            "$ref": "#/components/responses/Cobranca_ServicoIndisponivel"
          }
        },
        "security": [
          {
            "oauth2": [
              "boleto-cobranca.write"
            ]
          }
        ]
      }
    },
    "/banking/v2/extrato": {
      "get": {
        "summary": "Consultar extrato",
        "description": "Método utilizado para consultar o extrato por um período específico. O período máximo entre as datas é de 90 dias.\n\n* Escopo requerido: extrato.read\n* rate limit: <br />\n    * <img src=\"https://img.shields.io/badge/PRODUÇÃO-FF7043\"/> 10 chamadas por minuto <br />\n    * <img src=\"https://img.shields.io/badge/SANDBOX-07605B\"/> 10 chamadas por minuto\n\n*Obs: O [ token ](https://developers.inter.co/references/token#tag/Token/operation/Token) tem validade de 60 minutos e deverá ser reutilizado nas requisições.*\n\n<div class=\"button-div\"> \n  <button class=\"button-yaml\" data-category=\"CODE_EXAMPLE\" data-value=\"consultarExtratoBanking\">\n    <img src=\"/img/icons/recipes.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" />\n    Exemplos de código\n  </button>\n</div>\n\n<div class=\"swagger-link-container\">\n  <div class=\"url-container\">\n    <img src=\"https://img.shields.io/badge/PRODUÇÃO-FF7043\"/>\n    <img src=\"https://img.shields.io/badge/GET-green\"/>\n    <span class=\"span-container\">\n      <span class=\"server\">https://cdpj.partners.bancointer.com.br/banking/v2<span class=\"url\">/extrato</span></span>\n    </span>\n  </div>\n  <img src=\"/img/icons/copy.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" class=\"copy-icon\" />\n</div>\n\n<div class=\"swagger-link-container\">\n  <div class=\"url-container\">\n    <img src=\"https://img.shields.io/badge/SANDBOX-07605B\"/>\n    <img src=\"https://img.shields.io/badge/GET-green\"/>\n    <span class=\"span-container\">\n      <span class=\"server\">https://cdpj-sandbox.partners.uatinter.co/banking/v2<span class=\"url\">/extrato</span></span>\n    </span>\n  </div>\n  <img src=\"/img/icons/copy.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" class=\"copy-icon\" />\n</div>\n\n*Obs.: os dados retornados no ambiente **Sandbox** são fictícios. São utilizados apenas para validação da requisição.*\n",
        "tags": [
          "Extrato"
        ],
        "operationId": "Extrato",
        "parameters": [
          {
            "$ref": "#/components/parameters/Banking_xContaCorrente"
          },
          {
            "in": "query",
            "name": "dataInicio",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Data início da consulta de extrato.\n\nFormato: YYYY-MM-DD\n",
            "example": "2021-01-01"
          },
          {
            "in": "query",
            "name": "dataFim",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Data fim da consulta de extrato.\n\nFormato: YYYY-MM-DD\n",
            "example": "2021-01-02"
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListaTransacoes"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/RequisicaoInvalidaExtrato"
          },
          "403": {
            "$ref": "#/components/responses/Banking_AcessoNegado"
          },
          "404": {
            "$ref": "#/components/responses/Banking_NaoEncontrado"
          },
          "503": {
            "$ref": "#/components/responses/Banking_ServicoIndisponivel"
          }
        },
        "security": [
          {
            "oauth2": [
              "extrato.read"
            ]
          }
        ]
      }
    },
    "/banking/v2/extrato/exportar": {
      "get": {
        "summary": "Recuperar extrato em PDF",
        "description": "Método utilizado para recuperar o extrato em pdf por um período específico. O período máximo entre as datas é de 90 dias.\n\n* Escopo requerido: extrato.read\n* rate limit: <br />\n    * <img src=\"https://img.shields.io/badge/PRODUÇÃO-FF7043\"/> 10 chamadas por minuto <br />\n    * <img src=\"https://img.shields.io/badge/SANDBOX-07605B\"/> 10 chamadas por minuto\n\n*Obs: O [ token ](https://developers.inter.co/references/token#tag/Token/operation/Token) tem validade de 60 minutos e deverá ser reutilizado nas requisições.*\n\n<div class=\"button-div\"> \n  <button class=\"button-yaml\" data-category=\"CODE_EXAMPLE\" data-value=\"recuperarExtratoPdfBanking\">\n    <img src=\"/img/icons/recipes.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" />\n    Exemplos de código\n  </button>\n</div>\n\n<div class=\"swagger-link-container\">\n  <div class=\"url-container\">\n    <img src=\"https://img.shields.io/badge/PRODUÇÃO-FF7043\"/>\n    <img src=\"https://img.shields.io/badge/GET-green\"/>\n    <span class=\"span-container\">\n      <span class=\"server\">https://cdpj.partners.bancointer.com.br/banking/v2<span class=\"url\">/extrato/exportar</span></span>\n    </span>\n  </div>\n  <img src=\"/img/icons/copy.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" class=\"copy-icon\" />\n</div>\n\n<div class=\"swagger-link-container\">\n  <div class=\"url-container\">\n    <img src=\"https://img.shields.io/badge/SANDBOX-07605B\"/>\n    <img src=\"https://img.shields.io/badge/GET-green\"/>\n    <span class=\"span-container\">\n      <span class=\"server\">https://cdpj-sandbox.partners.uatinter.co/banking/v2<span class=\"url\">/extrato/exportar</span></span>\n    </span>\n  </div>\n  <img src=\"/img/icons/copy.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" class=\"copy-icon\" />\n</div>\n\n*Obs. 1: os dados retornados no ambiente **Sandbox** são fictícios. São utilizados apenas para validação da requisição.*\n\n*Obs. 2: a data referência será retornada quando a consulta for realizada em um dia não útil. Visto que o saldo não é sensibilizado em dias não úteis, será retornada à data referência do saldo, sendo o último dia útil.*\n",
        "tags": [
          "Extrato"
        ],
        "operationId": "ExtratoExport",
        "parameters": [
          {
            "$ref": "#/components/parameters/Banking_xContaCorrente"
          },
          {
            "in": "query",
            "name": "dataInicio",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Data inicio da exportação de extrato.\n\nFormato: YYYY-MM-DD\n",
            "example": "2021-01-01"
          },
          {
            "in": "query",
            "name": "dataFim",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Data fim da exportação de extrato.\n\nFormato: YYYY-MM-DD\n",
            "example": "2021-01-02"
          }
        ],
        "responses": {
          "200": {
            "description": "Arquivo",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PdfModel"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/RequisicaoInvalidaExtrato"
          },
          "403": {
            "$ref": "#/components/responses/Banking_AcessoNegado"
          },
          "404": {
            "$ref": "#/components/responses/Banking_NaoEncontrado"
          },
          "503": {
            "$ref": "#/components/responses/Banking_ServicoIndisponivel"
          }
        },
        "security": [
          {
            "oauth2": [
              "extrato.read"
            ]
          }
        ]
      }
    },
    "/banking/v2/extrato/completo": {
      "get": {
        "summary": "Consultar extrato enriquecido",
        "description": "Método utilizado para consultar extrato enriquecido com informações\ndetalhadas de cada transação dado um período específico.\n\n\nO período máximo entre as datas é de 90 dias.\n\n\n**Temos dois modos de paginação disponíveis:**\n\n**Paginação Tradicional**<br />\n\n* Utilize os parâmetros `pagina` e `tamanhoPagina` para navegar pelos\nresultados.\n* Ideal para consultas de volumes menores.\n* Máximo de 10.000 transações.\n\n\n**Paginação por Scroll**<br />\n\n* Para consultar grandes volumes com mais de 10.000 transações no\nperíodo.\n* Utilize os parâmetros `scrollEnabled` e `scrollId`.\n* Navegação mais eficiente para grandes volumes de dados sem as\nlimitações da paginação tradicional.\n\nCaracterísticas da paginação por scroll:\n\n* Máximo de 10.000 transações por página<br />\n* Apenas um scroll ativo por conta corrente<br />\n* Expira automaticamente após 6 minutos de inatividade<br />\n* Encerramento automático quando retornar `hasMore: false`<br />\n\n<details style=\"background-color: #FEF3ED; border: 1px solid #FF8C00;\nborder-radius: 4px; padding: 8px; margin: 8px 0;\">\n  <summary>Como usar o Scroll</summary>\n\n1. **Iniciar Scroll**: Envie `scrollEnabled: true` na primeira\nrequisição\n\n<details style=\"background-color: #F5E6D6; border: 1px solid #FF8C00;\nborder-radius: 4px; padding: 8px; margin: 8px 0;\">\n  <summary>Exemplo de iniciação</summary>\n\nA resposta com scroll trará a quantidade de transações definida em\n`tamanhoPagina` e  dois novos campos: `hasMore` e `scrollId`.\n\n```bash\ncurl -X GET \\\n'https://cdpj.partners.bancointer.com.br/banking/v2/extrato/completo' \\\n-G \\\n-d 'dataInicio=2026-01-01' \\\n-d 'dataFim=2026-02-10' \\\n-d 'tamanhoPagina=10000' \\\n-d 'scrollEnabled=true' \\\n-H 'x-inter-conta-corrente: 12345678'\n\n# Resposta inicial:\n# {\n#   \"totalElementos\": 25000,\n#   \"numeroDeElementos\": 10000,\n#   \"scrollId\": \"550e8400-e29b-41d4-a716-446655440000\",\n#   \"hasMore\": true,\n#   \"transacoes\": [... 10000 primeiras transações]\n# }\n```\n</details>\n\n2. **Continuar Scroll**: Use o `scrollId` retornado na requisição\nsubsequente.\n\n<details style=\"background-color: #F5E6D6; border: 1px solid #FF8C00;\nborder-radius: 4px; padding: 8px; margin: 8px 0;\">\n  <summary>Exemplo continuação</summary>\n\nEnvie o `scrollId` retornado para solicitar a próxima página do extrato.\nEnquanto `hasMore` = true as chamadas enviando o `scrollId` continuam\nbuscando as páginas subsequentes.\n\n```bash\ncurl -X GET \\\n'https://cdpj.partners.bancointer.com.br/banking/v2/extrato/completo' \\\n-G \\\n-d 'dataInicio=2026-01-01' \\\n-d 'dataFim=2026-02-10' \\\n-d 'scrollId=550e8400-e29b-41d4-a716-446655440000' \\\n-H 'x-inter-conta-corrente: 12345678'\n\n# 2. Resposta intermediária\n# {\n#   \"totalElementos\": 25000,\n#   \"numeroDeElementos\": 10000,\n#   \"scrollId\": \"550e8400-e29b-41d4-a716-446655440000\",\n#   \"hasMore\": true,\n#   \"transacoes\": [... 10000 transações subsequentes]\n# }\n```\n</details>\n\n3. **Finalizar**: Quando `hasMore: false`, não há mais transações.\n\n<details style=\"background-color: #F5E6D6; border: 1px solid #FF8C00;\nborder-radius: 4px; padding: 8px; margin: 8px 0;\">\n  <summary>Exemplo fim do scroll</summary>\n\nNa última página será retornado hasMore = false, indicando que as\ntransações do período selecionado terminaram. Nesse momento o scrollId\né automaticamente expirado.\n\n```bash\ncurl -X GET \\\n'https://cdpj.partners.bancointer.com.br/banking/v2/extrato/completo' \\\n-G \\\n-d 'dataInicio=2026-01-01' \\\n-d 'dataFim=2026-02-10' \\\n-d 'scrollId=550e8400-e29b-41d4-a716-446655440000' \\\n-H 'x-inter-conta-corrente: 12345678'\n\n# 3. Resposta final\n# {\n#   \"totalElementos\": 25000,\n#   \"numeroDeElementos\": 5000,\n#   \"hasMore\": false,\n#   \"transacoes\": [... 5000 últimas transações]\n# }\n```\n</details>\n</details>\n</details>\n\n* Escopo requerido: extrato.read\n* rate limit: <br />\n    * <img src=\"https://img.shields.io/badge/PRODUÇÃO-FF7043\"/> 10 chamadas por minuto <br />\n    * <img src=\"https://img.shields.io/badge/SANDBOX-07605B\"/> 10 chamadas por minuto\n\n*Obs: O [ token ](\nhttps://developers.inter.co/references/token#tag/Token/operation/Token)\ntem validade de 60 minutos e deverá ser reutilizado nas requisições.*\n\n<div class=\"button-div\">\n  <button class=\"button-yaml\" data-category=\"CODE_EXAMPLE\" data-value=\"consultarExtratoEnriquecidoBanking\">\n    <img src=\"/img/icons/recipes.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" />\n    Exemplos de código\n  </button>\n</div>\n\n<div class=\"swagger-link-container\">\n  <div class=\"url-container\">\n    <img src=\"https://img.shields.io/badge/PRODUÇÃO-FF7043\"/>\n    <img src=\"https://img.shields.io/badge/GET-green\"/>\n    <span class=\"span-container\">\n      <span class=\"server\">https://cdpj.partners.bancointer.com.br/banking/v2<span class=\"url\">/extrato/completo</span></span>\n    </span>\n  </div>\n  <img src=\"/img/icons/copy.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" class=\"copy-icon\" />\n</div>\n\n<div class=\"swagger-link-container\">\n  <div class=\"url-container\">\n    <img src=\"https://img.shields.io/badge/SANDBOX-07605B\"/>\n    <img src=\"https://img.shields.io/badge/GET-green\"/>\n    <span class=\"span-container\">\n      <span class=\"server\">https://cdpj-sandbox.partners.uatinter.co/banking/v2<span class=\"url\">/extrato/completo</span></span>\n    </span>\n  </div>\n  <img src=\"/img/icons/copy.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" class=\"copy-icon\" />\n</div>\n\n*Obs.: os dados retornados no ambiente **Sandbox** são fictícios. São utilizados apenas para validação da requisição.*\n",
        "tags": [
          "Extrato"
        ],
        "operationId": "ExtratoComplete",
        "parameters": [
          {
            "$ref": "#/components/parameters/Banking_xContaCorrente"
          },
          {
            "in": "query",
            "name": "dataInicio",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "required": true,
            "description": "Data inicio da exportação de extrato.\n\nFormato: YYYY-MM-DD\n",
            "example": "2022-06-12"
          },
          {
            "in": "query",
            "name": "dataFim",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "required": true,
            "description": "Data fim da exportação de extrato.\n\nFormato: YYYY-MM-DD\n",
            "example": "2022-07-14"
          },
          {
            "in": "query",
            "name": "pagina",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            },
            "description": "Posição da página na lista de movimentações.<br />\n**Apenas para paginação tradicional**.\n",
            "example": "0"
          },
          {
            "in": "query",
            "name": "tamanhoPagina",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 10000
            },
            "description": "Tamanho da página na lista de movimentações.<br />\n**Para paginação tradicional**: Define o tamanho da página\natual.<br />\n**Para scroll**: Define o tamanho de cada página do scroll.<br />\nMáximo de 10.000 registros por página em ambos os modos.\n",
            "example": "5"
          },
          {
            "in": "query",
            "name": "tipoOperacao",
            "example": "D",
            "description": "values:\n  * `D` - Débito(Saída)\n  * `C` - Crédito(Entrada)\n",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "D",
                "C"
              ]
            }
          },
          {
            "in": "query",
            "name": "tipoTransacao",
            "example": "PIX, CAMBIO, ESTORNO, INVESTIMENTO, TRANSFERENCIA, PAGAMENTO, BOLETO_COBRANCA, OUTROS",
            "description": "transação vinculada a movimentacao",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "$ref": "#/components/parameters/xInterScrollEnabled"
          },
          {
            "in": "query",
            "$ref": "#/components/parameters/xInterScrollId"
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso. O formato da resposta varia dependendo do modo de\npaginação utilizado, **padrão** ou **scroll**\n",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ListaTransacoesCompletaPadrao"
                    },
                    {
                      "$ref": "#/components/schemas/ListaTransacoesCompletaScroll"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/RequisicaoInvalidaExtratoCompleto"
          },
          "403": {
            "$ref": "#/components/responses/Banking_AcessoNegado"
          },
          "404": {
            "$ref": "#/components/responses/Banking_NaoEncontrado"
          },
          "503": {
            "$ref": "#/components/responses/Banking_ServicoIndisponivel"
          }
        },
        "security": [
          {
            "oauth2": [
              "extrato.read"
            ]
          }
        ]
      }
    },
    "/banking/v2/saldo": {
      "get": {
        "summary": "Consultar saldo",
        "description": "Método utilizado para consultar o saldo por um período específico.\n\n* Escopo requerido: extrato.read\n* rate limit: <br />\n    * <img src=\"https://img.shields.io/badge/PRODUÇÃO-FF7043\"/> 10 chamadas por minuto <br />\n    * <img src=\"https://img.shields.io/badge/SANDBOX-07605B\"/> 10 chamadas por minuto\n\n*Obs: O [ token ](https://developers.inter.co/references/token#tag/Token/operation/Token) tem validade de 60 minutos e deverá ser reutilizado nas requisições.*\n\n<div class=\"button-div\"> \n  <button class=\"button-yaml\" data-category=\"CODE_EXAMPLE\" data-value=\"consultarSaldoBanking\">\n    <img src=\"/img/icons/recipes.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" />\n    Exemplos de código\n  </button>\n</div>\n\n<div class=\"swagger-link-container\">\n  <div class=\"url-container\">\n    <img src=\"https://img.shields.io/badge/PRODUÇÃO-FF7043\"/>\n    <img src=\"https://img.shields.io/badge/GET-green\"/>\n    <span class=\"span-container\">\n      <span class=\"server\">https://cdpj.partners.bancointer.com.br/banking/v2<span class=\"url\">/saldo</span></span>\n    </span>\n  </div>\n  <img src=\"/img/icons/copy.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" class=\"copy-icon\" />\n</div>\n\n<div class=\"swagger-link-container\">\n  <div class=\"url-container\">\n    <img src=\"https://img.shields.io/badge/SANDBOX-07605B\"/>\n    <img src=\"https://img.shields.io/badge/GET-green\"/>\n    <span class=\"span-container\">\n      <span class=\"server\">https://cdpj-sandbox.partners.uatinter.co/banking/v2<span class=\"url\">/saldo</span></span>\n    </span>\n  </div>\n  <img src=\"/img/icons/copy.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" class=\"copy-icon\" />\n</div>\n\n*Obs.: os dados retornados no ambiente **Sandbox** são fictícios. São utilizados apenas para validação da requisição.*\n",
        "tags": [
          "Saldo"
        ],
        "operationId": "Saldo",
        "parameters": [
          {
            "$ref": "#/components/parameters/Banking_xContaCorrente"
          },
          {
            "in": "query",
            "name": "dataSaldo",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Data de consulta para o saldo posicional.\n\nFormato: YYYY-MM-DD\n\nObs: Caso uma data não seja informada, será utilizada a data atual, e os valores retornados serão: o saldo atual (disponível), \no bloqueado em cheque, o bloqueado judicialmente, o bloqueado administrativo e o limite, até o momento da consulta. \nCaso seja informada uma data, o retorno será somente o valor do saldo naquele dia (disponível). Se a data for a atual, \no valor do saldo até o momento da consulta.\n",
            "example": "2021-01-01"
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Saldo"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/RequisicaoInvalidaSaldo"
          },
          "403": {
            "$ref": "#/components/responses/Banking_AcessoNegado"
          },
          "404": {
            "$ref": "#/components/responses/Banking_NaoEncontrado"
          },
          "503": {
            "$ref": "#/components/responses/Banking_ServicoIndisponivel"
          }
        },
        "security": [
          {
            "oauth2": [
              "extrato.read"
            ]
          }
        ]
      }
    },
    "/banking/v2/pagamento": {
      "post": {
        "summary": "Incluir pagamento com código de barras",
        "description": "\nMétodo para inclusão de um pagamento imediato ou agendamento do\npagamento de boleto, convênio ou tributo com código de barras.\n\n\n**Importante**: Dependendo das configurações da conta, este pagamento\npode exigir aprovação manual antes da execução.<br />\nAs configurações de aprovação podem ser ajustadas pelo usuário master\nvia Internet Banking. Menu Superior > Aprovar > Gestão de Aprovações.\n\n* Escopo requerido: pagamento-boleto.write\n* Rate limite: <br />\n  * <img src=\"https://img.shields.io/badge/PRODUÇÃO-FF7043\"/> 120 chamadas por minuto <br />\n  * <img src=\"https://img.shields.io/badge/SANDBOX-07605B\"/> 10 chamadas por minuto\n\n*Obs: O [ token ](https://developers.inter.co/references/token#tag/Token/operation/Token) tem validade de 60 minutos e deverá ser reutilizado nas requisições.*\n\n<div class=\"button-div\"> \n  <button class=\"button-yaml\" data-category=\"CODE_EXAMPLE\" data-value=\"incluirPagamentoComCodigoBarrasBanking\">\n    <img src=\"/img/icons/recipes.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" />\n    Exemplos de código\n  </button>\n</div>\n\n<div class=\"swagger-link-container\">\n  <div class=\"url-container\">\n    <img src=\"https://img.shields.io/badge/PRODUÇÃO-FF7043\"/>\n    <img src=\"https://img.shields.io/badge/POST-blue\"/>\n    <span class=\"span-container\">\n      <span class=\"server\">https://cdpj.partners.bancointer.com.br/banking/v2<span class=\"url\">/pagamento</span></span>\n    </span>\n  </div>\n  <img src=\"/img/icons/copy.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" class=\"copy-icon\" />\n</div>\n\n<div class=\"swagger-link-container\">\n  <div class=\"url-container\">\n    <img src=\"https://img.shields.io/badge/SANDBOX-07605B\"/>\n    <img src=\"https://img.shields.io/badge/POST-blue\"/>\n    <span class=\"span-container\">\n      <span class=\"server\">https://cdpj-sandbox.partners.uatinter.co/banking/v2<span class=\"url\">/pagamento</span></span>\n    </span>\n  </div>\n  <img src=\"/img/icons/copy.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" class=\"copy-icon\" />\n</div>\n\nPara o ambiente do **Sandbox**, poderão ser utilizados os seguintes códigos de barras:\n* 03395988500000666539201493990000372830030102\n* 82670000000653301602023123106000000002830894\n",
        "tags": [
          "Pagamento"
        ],
        "operationId": "pagarBoleto",
        "parameters": [
          {
            "$ref": "#/components/parameters/Banking_xContaCorrente"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/EfetuarPagamentoBody"
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EfetuarPagamentoResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/RequisicaoInvalidaPagamento"
          },
          "401": {
            "$ref": "#/components/responses/NaoAutorizado"
          },
          "403": {
            "$ref": "#/components/responses/Banking_AcessoNegado"
          },
          "404": {
            "$ref": "#/components/responses/Banking_NaoEncontrado"
          },
          "406": {
            "$ref": "#/components/responses/NaoAceito"
          },
          "409": {
            "$ref": "#/components/responses/Conflito"
          }
        },
        "security": [
          {
            "oauth2": [
              "pagamento-boleto.write"
            ]
          }
        ]
      },
      "get": {
        "summary": "Buscar pagamentos",
        "description": "\nMétodo para obter uma coleção de pagamentos de boletos.\n\n* Escopo requerido: pagamento-boleto.read\n* Rate limite: <br />\n  * <img src=\"https://img.shields.io/badge/PRODUÇÃO-FF7043\"/> 120 chamadas por minuto <br />\n  * <img src=\"https://img.shields.io/badge/SANDBOX-07605B\"/> 10 chamadas por minuto\n\n*Obs: O [ token ](https://developers.inter.co/references/token#tag/Token/operation/Token) tem validade de 60 minutos e deverá ser reutilizado nas requisições.*\n\n<div class=\"button-div\"> \n  <button class=\"button-yaml\" data-category=\"CODE_EXAMPLE\" data-value=\"buscarPagamentosBanking\">\n    <img src=\"/img/icons/recipes.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" />\n    Exemplos de código\n  </button>\n</div>\n\n<div class=\"swagger-link-container\"> \n  <div class=\"url-container\">\n    <img src=\"https://img.shields.io/badge/PRODUÇÃO-FF7043\"/>\n    <img src=\"https://img.shields.io/badge/GET-green\"/>\n    <span class=\"span-container\">\n      <span class=\"server\">https://cdpj.partners.bancointer.com.br/banking/v2<span class=\"url\">/pagamento</span></span>\n    </span>\n  </div>\n  <img src=\"/img/icons/copy.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" class=\"copy-icon\" />\n</div>\n\n<div class=\"swagger-link-container\">\n  <div class=\"url-container\">\n    <img src=\"https://img.shields.io/badge/SANDBOX-07605B\"/>\n    <img src=\"https://img.shields.io/badge/GET-green\"/>\n    <span class=\"span-container\">\n      <span class=\"server\">https://cdpj-sandbox.partners.uatinter.co/banking/v2<span class=\"url\">/pagamento</span></span>\n    </span>\n  </div>\n  <img src=\"/img/icons/copy.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" class=\"copy-icon\" />\n</div>\n\nPara o ambiente do **Sandbox**, poderão ser utilizados os seguintes códigos de barras:\n* 03395988500000666539201493990000372830030102\n* 82670000000653301602023123106000000002830894\n",
        "tags": [
          "Pagamento"
        ],
        "operationId": "buscarInformacoesPagamentos",
        "parameters": [
          {
            "$ref": "#/components/parameters/Banking_xContaCorrente"
          },
          {
            "name": "codBarraLinhaDigitavel",
            "in": "query",
            "description": "Código de barras ou Linha digitável do boleto",
            "schema": {
              "type": "string",
              "minLength": 44,
              "maxLength": 48,
              "example": 6.539000353864661e+46
            }
          },
          {
            "name": "codigoTransacao",
            "in": "query",
            "description": "Código de transação UUID",
            "schema": {
              "type": "string",
              "minLength": 36,
              "maxLength": 36,
              "example": "a928f403-0076-419b-9c99-432d52083d0a"
            }
          },
          {
            "name": "dataInicio",
            "in": "query",
            "description": "Data inicio, em acordo com o campo \"filtrarDataPor\"\n\nFormato aceito: YYYY-MM-DD\n\n* O campo dataInicio é opcional, mas, caso seja informado, o campo dataFim se torna obrigatório para determinar o intervalo da busca.\n\n* Caso data inicio e fim seja nula, por default será consultado os últimos 30 dias por data de inclusão.\n\n* Período máximo entre as datas inicio e fim é de 90 dias.\n",
            "schema": {
              "type": "string"
            },
            "example": "2022-08-11"
          },
          {
            "name": "dataFim",
            "in": "query",
            "description": "Data Fim, em acordo com o campo \"filtrarDataPor\"\n\n* O campo dataFim é opcional, mas, caso seja informado, o campo dataInicio se torna obrigatório para determinar o intervalo da busca.\n\nFormato aceito: YYYY-MM-DD\n",
            "schema": {
              "type": "string"
            },
            "example": "2022-08-12"
          },
          {
            "name": "filtrarDataPor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "INCLUSAO",
                "PAGAMENTO",
                "VENCIMENTO"
              ],
              "default": "INCLUSAO"
            },
            "description": "Os filtros de data inicial e data final se aplicarão a:\n* `INCLUSAO` - Data da operação que foi solicitado o pagamento do título. (Default)\n* `PAGAMENTO` - Data em que foi efetuado o pagamento do título\n* `VENCIMENTO` - Data do vencimento do título de pagamento.\n"
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/InformacoesPagamento"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/RequisicaoInvalidaPagamento"
          },
          "500": {
            "$ref": "#/components/responses/Banking_ServicoIndisponivel"
          }
        },
        "security": [
          {
            "oauth2": [
              "pagamento-boleto.read"
            ]
          }
        ]
      }
    },
    "/banking/v2/pagamento/darf": {
      "post": {
        "summary": "Incluir pagamento de DARF",
        "description": "\nMétodo para inclusão de um pagamento imediato de DARF sem código de\nbarras.\n\n\n**Importante**: Dependendo das configurações da conta, este pagamento\npode exigir aprovação manual antes da execução.<br />\nAs configurações de aprovação podem ser ajustadas pelo usuário master\nvia Internet Banking. Menu Superior > Aprovar > Gestão de Aprovações.\n\n* Escopo requerido: pagamento-darf.write\n* Rate limite: <br />\n  * <img src=\"https://img.shields.io/badge/PRODUÇÃO-FF7043\"/> 10 chamadas por minuto <br />\n  * <img src=\"https://img.shields.io/badge/SANDBOX-07605B\"/> 10 chamadas por minuto\n\n*Obs: O [ token ](https://developers.inter.co/references/token#tag/Token/operation/Token) tem validade de 60 minutos e deverá ser reutilizado nas requisições.*\n\n<div class=\"button-div\"> \n  <button class=\"button-yaml\" data-category=\"CODE_EXAMPLE\" data-value=\"incluirPagamentoDarfBanking\">\n    <img src=\"/img/icons/recipes.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" />\n    Exemplos de código\n  </button>\n</div>\n\n<div class=\"swagger-link-container\">\n  <div class=\"url-container\">\n    <img src=\"https://img.shields.io/badge/PRODUÇÃO-FF7043\"/>\n    <img src=\"https://img.shields.io/badge/POST-blue\"/>\n    <span class=\"span-container\">\n      <span class=\"server\">https://cdpj.partners.bancointer.com.br/banking/v2<span class=\"url\">/pagamento/darf</span></span>\n    </span>\n  </div>\n  <img src=\"/img/icons/copy.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" class=\"copy-icon\" />\n</div>\n\n<div class=\"swagger-link-container\">\n  <div class=\"url-container\">\n    <img src=\"https://img.shields.io/badge/SANDBOX-07605B\"/>\n    <img src=\"https://img.shields.io/badge/POST-blue\"/>\n    <span class=\"span-container\">\n      <span class=\"server\">https://cdpj-sandbox.partners.uatinter.co/banking/v2<span class=\"url\">/pagamento/darf</span></span>\n    </span>\n  </div>\n  <img src=\"/img/icons/copy.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" class=\"copy-icon\" />\n</div>\n",
        "tags": [
          "Pagamento"
        ],
        "operationId": "pagamentosDarf",
        "parameters": [
          {
            "$ref": "#/components/parameters/Banking_xContaCorrente"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/DarfRequestBody"
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DarfResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/RequisicaoInvalidaIncluirDarf"
          },
          "401": {
            "$ref": "#/components/responses/NaoAutorizado"
          },
          "403": {
            "$ref": "#/components/responses/Banking_AcessoNegado"
          },
          "404": {
            "$ref": "#/components/responses/Banking_NaoEncontrado"
          },
          "500": {
            "$ref": "#/components/responses/Banking_ServicoIndisponivel"
          }
        },
        "security": [
          {
            "oauth2": [
              "pagamento-darf.write"
            ]
          }
        ]
      },
      "get": {
        "summary": "Buscar pagamentos de DARF",
        "description": "\nMétodo para obter informações de pagamento de DARF.\n\n* Escopo requerido: pagamento-boleto.read\n* Rate limite: <br />\n  * <img src=\"https://img.shields.io/badge/PRODUÇÃO-FF7043\"/> 120 chamadas por minuto <br />\n  * <img src=\"https://img.shields.io/badge/SANDBOX-07605B\"/> 10 chamadas por minuto\n\n*Obs: O [ token ](https://developers.inter.co/references/token#tag/Token/operation/Token) tem validade de 60 minutos e deverá ser reutilizado nas requisições.*\n\n<div class=\"button-div\"> \n  <button class=\"button-yaml\" data-category=\"CODE_EXAMPLE\" data-value=\"buscarPagamentosDarfBanking\">\n    <img src=\"/img/icons/recipes.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" />\n    Exemplos de código\n  </button>\n</div>\n\n<div class=\"swagger-link-container\">\n  <div class=\"url-container\">\n    <img src=\"https://img.shields.io/badge/PRODUÇÃO-FF7043\"/>\n    <img src=\"https://img.shields.io/badge/GET-green\"/>\n    <span class=\"span-container\">\n      <span class=\"server\">https://cdpj.partners.bancointer.com.br/banking/v2<span class=\"url\">/pagamento/darf</span></span>\n    </span>\n  </div>\n  <img src=\"/img/icons/copy.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" class=\"copy-icon\" />\n</div>\n\n<div class=\"swagger-link-container\">\n  <div class=\"url-container\">\n    <img src=\"https://img.shields.io/badge/SANDBOX-07605B\"/>\n    <img src=\"https://img.shields.io/badge/GET-green\"/>\n    <span class=\"span-container\">\n      <span class=\"server\">https://cdpj-sandbox.partners.uatinter.co/banking/v2<span class=\"url\">/pagamento/darf</span></span>\n    </span>\n  </div>\n  <img src=\"/img/icons/copy.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" class=\"copy-icon\" />\n</div>\n",
        "tags": [
          "Pagamento"
        ],
        "operationId": "buscarInformacoesPagamentoDarf",
        "parameters": [
          {
            "$ref": "#/components/parameters/Banking_xContaCorrente"
          },
          {
            "name": "codigoSolicitacao",
            "in": "query",
            "description": "Código de solicitação UUID",
            "schema": {
              "type": "string",
              "minLength": 36,
              "maxLength": 36,
              "example": "a928f403-0076-419b-9c99-432d52083d0a"
            }
          },
          {
            "name": "codigoReceita",
            "in": "query",
            "description": "Código da receita",
            "schema": {
              "type": "string",
              "example": "0211"
            }
          },
          {
            "name": "dataInicio",
            "in": "query",
            "description": "Data inicio, em acordo com a data de pagamento da DARF.\n\n* O campo dataInicio é opcional, mas, caso seja informado, o campo dataFim se torna obrigatório para determinar o intervalo da busca.\n\n* Caso data inicio ou fim seja nula, por default será consultado os últimos 30 dias por data de inclusão.\n\nFormato aceito: YYYY-MM-DD\n",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2022-08-11"
          },
          {
            "name": "dataFim",
            "in": "query",
            "description": "Data Fim, em acordo com a data de pagamento da DARF.\n\n* O campo dataFim é opcional, mas, caso seja informado, o campo dataInicio se torna obrigatório para determinar o intervalo da busca.\n\nFormato aceito: YYYY-MM-DD\n",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2022-08-12"
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/InformacoesPagamentoDarf"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/RequisicaoInvalidaBuscarDarf"
          },
          "401": {
            "$ref": "#/components/responses/NaoAutorizado"
          },
          "403": {
            "$ref": "#/components/responses/Banking_AcessoNegado"
          },
          "404": {
            "$ref": "#/components/responses/Banking_NaoEncontrado"
          },
          "500": {
            "$ref": "#/components/responses/Banking_ServicoIndisponivel"
          }
        },
        "security": [
          {
            "oauth2": [
              "pagamento-boleto.read"
            ]
          }
        ]
      }
    },
    "/banking/v2/pagamento/lote": {
      "post": {
        "summary": "Incluir pagamentos em lote",
        "description": "\nMétodo para inclusão de um lote de pagamentos.\n\n* Escopo requerido: pagamento-lote.write\n* Rate limite: <br />\n  * <img src=\"https://img.shields.io/badge/PRODUÇÃO-FF7043\"/> 10 chamadas por minuto <br />\n  * <img src=\"https://img.shields.io/badge/SANDBOX-07605B\"/> 10 chamadas por minuto\n\n*Obs: O [ token ](https://developers.inter.co/references/token#tag/Token/operation/Token) tem validade de 60 minutos e deverá ser reutilizado nas requisições.*\n\n<div class=\"button-div\"> \n  <button class=\"button-yaml\" data-category=\"CODE_EXAMPLE\" data-value=\"incluirPagamentosEmLoteBanking\">\n    <img src=\"/img/icons/recipes.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" />\n    Exemplos de código\n  </button>\n</div>\n\n<div class=\"swagger-link-container\">\n  <div class=\"url-container\">\n    <img src=\"https://img.shields.io/badge/PRODUÇÃO-FF7043\"/>\n    <img src=\"https://img.shields.io/badge/POST-blue\"/>\n    <span class=\"span-container\">\n      <span class=\"server\">https://cdpj.partners.bancointer.com.br/banking/v2<span class=\"url\">/pagamento/lote</span></span>\n    </span>\n  </div>\n  <img src=\"/img/icons/copy.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" class=\"copy-icon\" />\n</div>\n\n<div class=\"swagger-link-container\">\n  <div class=\"url-container\">\n    <img src=\"https://img.shields.io/badge/SANDBOX-07605B\"/>\n    <img src=\"https://img.shields.io/badge/POST-blue\"/>\n    <span class=\"span-container\">\n      <span class=\"server\">https://cdpj-sandbox.partners.uatinter.co/banking/v2<span class=\"url\">/pagamento/lote</span></span>\n    </span>\n  </div>\n  <img src=\"/img/icons/copy.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" class=\"copy-icon\" />\n</div>\n\nPara o ambiente do **Sandbox**, poderão ser utilizados os seguintes códigos de barras:\n* 03395988500000666539201493990000372830030102\n* 82670000000653301602023123106000000002830894\n",
        "tags": [
          "Pagamento"
        ],
        "operationId": "pagamentosLote",
        "parameters": [
          {
            "$ref": "#/components/parameters/Banking_xContaCorrente"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/PagarLoteRequestBody"
        },
        "responses": {
          "202": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagarLoteResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/RequisicaoInvalidaPagamento"
          },
          "401": {
            "$ref": "#/components/responses/NaoAutorizado"
          },
          "403": {
            "$ref": "#/components/responses/Banking_AcessoNegado"
          },
          "404": {
            "$ref": "#/components/responses/Banking_NaoEncontrado"
          },
          "500": {
            "$ref": "#/components/responses/Banking_ServicoIndisponivel"
          }
        },
        "security": [
          {
            "oauth2": [
              "pagamento-lote.write"
            ]
          }
        ]
      }
    },
    "/banking/v2/pagamento/lote/{idLote}": {
      "get": {
        "summary": "Buscar lote de pagamentos",
        "description": "\nMétodo para obter informações de um lote de pagamentos.\n\n* Escopo requerido: pagamento-lote.read\n* Rate limite: <br />\n  * <img src=\"https://img.shields.io/badge/PRODUÇÃO-FF7043\"/> 20 chamadas por minuto <br />\n  * <img src=\"https://img.shields.io/badge/SANDBOX-07605B\"/> 10 chamadas por minuto\n\n*Obs: O [ token ](https://developers.inter.co/references/token#tag/Token/operation/Token) tem validade de 60 minutos e deverá ser reutilizado nas requisições.*\n\n<div class=\"button-div\"> \n  <button class=\"button-yaml\" data-category=\"CODE_EXAMPLE\" data-value=\"buscarLotePagamentosBanking\">\n    <img src=\"/img/icons/recipes.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" />\n    Exemplos de código\n  </button>\n</div>\n\n<div class=\"swagger-link-container\">\n  <div class=\"url-container\">\n    <img src=\"https://img.shields.io/badge/PRODUÇÃO-FF7043\"/>\n    <img src=\"https://img.shields.io/badge/GET-green\"/>\n    <span class=\"span-container\">\n      <span class=\"server\">https://cdpj.partners.bancointer.com.br/banking/v2<span class=\"url\">/pagamento/lote/{idLote}</span></span>\n    </span>\n  </div>\n  <img src=\"/img/icons/copy.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" class=\"copy-icon\" />\n</div>\n\n<div class=\"swagger-link-container\">\n  <div class=\"url-container\">\n    <img src=\"https://img.shields.io/badge/SANDBOX-07605B\"/>\n    <img src=\"https://img.shields.io/badge/GET-green\"/>\n    <span class=\"span-container\">\n      <span class=\"server\">https://cdpj-sandbox.partners.uatinter.co/banking/v2<span class=\"url\">/pagamento/lote/{idLote}</span></span>\n    </span>\n  </div>\n  <img src=\"/img/icons/copy.svg\" alt=\"Ícone\" width=\"24\" height=\"24\" class=\"copy-icon\" />\n</div>\n",
        "tags": [
          "Pagamento"
        ],
        "operationId": "buscarInformacoesPagamentoLote",
        "parameters": [
          {
            "$ref": "#/components/parameters/Banking_xContaCorrente"
          },
          {
            "$ref": "#/components/parameters/idLoteParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObterLoteResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Banking_NaoEncontrado"
          }
        },
        "security": [
          {
            "oauth2": [
              "pagamento-lote.read"
            ]
          }
        ]
      }
    },
    "/banking/v2/pagamento/{codigoTransacao}": {
      "delete": {
        "summary": "Cancelar agendamento do pagamento",
[...]
